<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{/general/head.html}"></div>
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />

<!-- Custom CSS -->
<link th:href="@{/css/style.min.css}" rel="stylesheet">

<body class="skin-blue fixed-layout">

    <div id="main-wrapper">
        <div th:insert="~{/general/header.html}"></div>
        <div th:insert="~{/general/left-sidebar.html}"></div>

        <div class="page-wrapper">
            <div class="container-fluid">
                <div th:insert="~{/general/page-titles.html}"></div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Générer des données</h4>

                                <form th:action="@{/database/generate}" method="post">
                                    <div class="form-group">
                                        <label>Nombre d'enregistrements à générer par table:</label>
                                        <input type="number" class="form-control" name="recordCount" min="1" max="100"
                                            value="10" />
                                    </div>

                                    <div class="form-group">
                                        <label>Sélectionnez les tables:</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customer"
                                                        name="selectedTables" value="customer">
                                                    <label class="custom-control-label" for="customer">Customer</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="customerLoginInfo" name="selectedTables"
                                                        value="customer_login_info">
                                                    <label class="custom-control-label" for="customerLoginInfo">Customer
                                                        Login Info</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="employee"
                                                        name="selectedTables" value="employee">
                                                    <label class="custom-control-label" for="employee">Employee</label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="triggerContract" name="selectedTables"
                                                        value="trigger_contract">
                                                    <label class="custom-control-label"
                                                        for="triggerContract">Contract</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="triggerTicket" name="selectedTables" value="trigger_ticket">
                                                    <label class="custom-control-label"
                                                        for="triggerTicket">Ticket</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="triggerLead"
                                                        name="selectedTables" value="trigger_lead">
                                                    <label class="custom-control-label" for="triggerLead">Lead</label>
                                                </div>
                                            </div>
<!--                                            <div class="col-md-4">-->
<!--                                                <div class="custom-control custom-checkbox">-->
<!--                                                    <input type="checkbox" class="custom-control-input"-->
<!--                                                        id="contractSettings" name="selectedTables"-->
<!--                                                        value="contract_settings">-->
<!--                                                    <label class="custom-control-label" for="contractSettings">Contract-->
<!--                                                        Settings</label>-->
<!--                                                </div>-->
<!--                                                <div class="custom-control custom-checkbox">-->
<!--                                                    <input type="checkbox" class="custom-control-input"-->
<!--                                                        id="ticketSettings" name="selectedTables"-->
<!--                                                        value="ticket_settings">-->
<!--                                                    <label class="custom-control-label" for="ticketSettings">Ticket-->
<!--                                                        Settings</label>-->
<!--                                                </div>-->
<!--                                                <div class="custom-control custom-checkbox">-->
<!--                                                    <input type="checkbox" class="custom-control-input"-->
<!--                                                        id="leadSettings" name="selectedTables" value="lead_settings">-->
<!--                                                    <label class="custom-control-label" for="leadSettings">Lead-->
<!--                                                        Settings</label>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Générer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{/general/footer.html}"></div>
    </div>

    <script th:src="@{/js/library/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/library/bootstrap.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>

</body>

</html>